* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #191714, #2234ae);
  padding: 10px;
}

.nutrimate-container {
  width: fit-content;
  margin: 200px auto 20px;
  padding: 40px 0px 60px;
  border-radius: 5px;
  background-color: white;
}

.heading {
  display: flex;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

.goals {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.meal-type {
  margin: 20px auto 20px;
}

.section {
  background-color: grey;
}

.strip {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 10px 0px 10px;
}
.title {
  color: white;
}

ul li {
  list-style: none;
  font-size: 12px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}

footer {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
